node_modules/
.next/
*.pyc
__pycache__/
.venv/
.venv_old/
.env
.env/*
bot.env
backend/.env
backend/.env.*
*.egg-info/
dist/
build/
.DS_Store

# logs
backend_std*.log
backend_stderr*.log
backend_stdout*.log
frontend/tsconfig.tsbuildinfo
